# 9.2 PANDAS  #Saikiran Dasari  IBM (DV)

>**What are pandas?**

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. Pandas is the backbone for most of the data projects.

Through pandas, you get acquainted with your data by cleaning, transforming, and analyzing it. Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

We can import the library or a dependency like pandas using the “import pandas” command. We now have access to many pre-built classes and functions.

In order to be able to work with the data in Python, we’ll need to read the data(csv, excel ,dictionary,..) file into a Pandas DataFrame. 

 A DataFrame is a way to represent and work with tabular data. Tabular data has rows and columns, just like our csv file. In order to read in the data, we’ll need to use the pandas.read_csv function. This function will take in a csv file and return a DataFrame.

## Next Slide

>**What is csv?**

csv stands for comma-separated values, csv file is a delimited text file that uses a comma to separate values. A CSV file stores tabular data in plain text. Each line of the file is a data record. Each record consists of one or more fields, separated by commas.



>**How to read the csv file using pandas?**

Once the pandas library is imported, This assumes the library is installed. Then we can load a csv file using the pandas built-in function “read csv.” A csv is a typical file type used to store data.

We simply type the word pandas, then a dot and the name of the function with all the inputs. Typing pandas all the time may get tedious.

We can use the "as" statement to shorten the name of the library; in this case we use the standard abbreviation pd. Now we type pd and a dot followed by the name of the function we would like to use, in this case, read_csv.
 
we need to give the path of the csv file as argument to the read_csv function, to read the path string correctly we need to use ‘r’ as a prefix to the command. 

The result is stored in the variable df. this is short for “dataframe." Now that we have the data in a dataframe, we can work with it.

We can use the method head to see the entire data frame or we can pass the number of rows to be checked as an argument to the head method like df.head(5) for 5 rows.


>**How to Write the csv file using pandas?**

If you want to write the dataframe to csv we can simple use the “to_csv” function

Syntax:
df.to_csv(EXPORT FILE PATH)

>>**example:**
If you see the above data frame example we see the two indexes one is loaded from the csv file and also there is unnamed index which is by default generated by pandas while loading the csv.

This problem can be avoided by making sure that the writing of CSV files
doesn’t write indexes, because DataFrame will generate it anyway. 

We can do the same by specifying index = False parameter in to_csv(...) function.

df.to_csv(‘EXPORT FILE PATH’, index=False)

## Next Slide

## Pandas working with text data and datetime columns

**DateTime for TimeSeries Data**

While working with data, it is not an unusual thing to encounter time series data. Working with datetime columns can be quite challenge task. Luckily, pandas are great at handling time series data. Pandas provide a different set of tools using which we can perform all the necessary tasks on date-time data.

Let’s see how we can convert a dataframe column of strings (in dd/mm/yyyy format) to datetime format. We cannot perform any time series-based operation on the dates if they are not in the right format. To be able to work with it, we are required to convert the dates into the datetime format.


**Convert Pandas dataframe column type from string to datetime format**

For any operation we need to first create the data frame based on the data collected, we can load the data either from csv file, or excel file or from any source. Let us use csv file for our demo.

Follow the below lines of code to load the data and convert that to data Frame.

Once the data frame is ready use df.info( ) to get complete information of dataframe.

As we can see in the output, the data type of the ‘DateTime’ column is object i.e. string. Now we will convert it to datetime format using pd.to_datetime() function.


After applying the pd.to_datetime () function to DateTime column, we can see in the output, the format of the ‘DateTime’ column has been changed to the datetime format.


**HOW TO CHANGE THE INDEX of the dataframe**

Most of the operations related to dateTime requires the DateTime column as the primary index, or else it will throw an error.

We can change the index with set_index() function.it takes two parameters one is column name you want to change as index, and another one is inplace=true. When inplace=True is passed, the data is renamed inplace, when inplace=False is passed (this is the default value, so isn't necessary), performs the operation and returns a copy of the object.


**Data Frame Filtering based on index**

How to filter data based on particular year?
To Check all the values occurred in a particular year let’s say 2018

Run command df[‘2018’]



**How to filter data based on year and month?**

To View all observations that occurred in June 2018, run the below command
df['2018-06']


**Similarly, if you want to view the observations after particular year, month and date. then the command is**

df[datetime(year, month, date): ]


**If you need observations between two dates then command is?**
df['Starting_year, Starting_month, Starting_date':'Ending_year, Ending_month, Ending_date']

For ex: If you need Observations betn May 3rd & May 4th of 2018 then command is:

df['5/3/2018':'5/4/2018']

## Next Slide:
### Pandas Indexing and Selecting Data

What is Indexing?

Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting  all the rows and some of the columns, some of the rows and all the columns, or some of each of the rows and columns. Indexing can also be known as Subset Selection.

Let’s load one csv file and convert that to data frame to perform the indexing and selection operations.

Once the data is loaded into data frame let’s make Name as the index of this data frame.

**Note: INDEX is the Primary key it should Not Contain Duplicates**

**Making the Index for ColumnName(as this has UNIQUE records!)**

df.set_index('ColumnName',inplace=True)

**Once the data is loaded into data frame let’s Revert df as the index of this data frame.**

We use “.reset_index(inplace=True)

df.reset_index(inplace=True)  //To revert back the Index column!

**Selecting Single Column**

In order to take single column, we simply put the name of the column in-between the brackets.

In [ ]:
Model = sales_data_2017['Model']
Model

**Selecting Multiple Columns**

To select multiple columns, we must pass a list of columns in an indexing operator.

In [ ]:
ModelandRegion = sales_data_2017[['Model', 'Region']]
ModelandRegion

**Selecting a single row:**
    
In order to select a single row using. loc[], we put a single row label in a .loc function.

In [ ]:
December31st = sales_data_2017.loc['2017-12-31']
December31st

**Selecting multiple rows:**

In order to select multiple rows, we put all the row labels in a list and pass that to .loc function.

In [ ]:
HiHello = sales_data_2017.loc[['hi','hello']]
HiHello

**Selecting multiple rows and columns:**

In order to select two rows and two columns, we select two rows which we want to select and two columns and put it in a separate list:
Dataframe.loc[["row1", "row2"], ["column1", "column2"]]

In [ ]:
HiHelloRegionModel = sales_data_2017.loc[['hi','hello'], ['Region','Model']]
HiHelloRegionModel

**In order to select all the rows and some columns the syntax looks like:**

Dataframe.loc [ :, ["column1", "column2"]]

In [ ]:
RegionModel = sales_data_2017.loc[ : , ['Region','Model']]
RegionModel

## Next Slide:
## Pandas- groupby

**What is Pandas-GroupBy?**

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

Let’s load one csv file and convert that to data frame to perform the group-by operations.

In [ ]:
sales_data_2017.head(2)

groupby function based on single category

Now we have data frame ready let’s group the data based on ‘hlpi_name’.

In [ ]:
# DO this First for whichever column you want to go ahead for Grop analysis
groups = sales_data_2017.groupby('Region')
groups

Once group by operation is done we get a result as groupby object.

Let’s print the value contained in any one of group. For that use the name of the ‘Region’. We use the function get_group() to find the entries contained in any of the groups.

In [ ]:
# To know all the Unique values(groups) in Region column!
sales_data_2017['Region'].drop_duplicates()

In [ ]:
# get_group() function
# To get values contained in any one of Group
groups.get_group('United States')

**groupby function based on more than one category**

Use groupby() function to form groups based on more than one category (i.e. Use more than one column to perform the splitting).

In [ ]:
group_2 = sales_data_2017.groupby(['Region', 'Category'])
group_2

We got the result as groupby object.

Let’s print the first entries in all the groups formed using first() function.

In [ ]:
## first() Function
group_2.first()

**Operations on groups**

After splitting a data into a group, we can also apply a function to each group to perform some operations.

Here is the Sample example to get sum of values in particular groups.

In [ ]:
# sum() function
## WE get the Result for Numerical Columns!
GroupBySum = sales_data_2017.groupby(['Region'])
GroupBySum.sum()

**We can also find min, max, average . .etc.**

In [ ]:
# max()
GroupBySum.max()

In [ ]:
# min()
GroupBySum.min()

## Next Slide:
## Merge/Join Datasets

Joining and merging DataFrames is the core process to start with Data Analysis and Machine Learning tasks. 
It is one of the toolkits which every Data Analyst or Data Scientist should master because in almost all the cases data comes from multiple source and files. 

You may need to bring all the data in one place by some sort of join logic and then start your analysis. 
Thankfully you have the most popular library in python, pandas to your rescue! 
Pandas provides various facilities for easily combining different datasets.

We can merge two data frames in pandas python by using the merge() function. 

The different arguments to merge() allow you to perform natural join, left join, right join, and full outer join in pandas.

-------------------------------------

Understanding the different types of merge:

Before you perform joint operations let’s first load the two csv files and convert them into data frames df1 and df2.

## https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/
Method #3: Creating DataFrame from dict of narray/lists
To create DataFrame from dict of narray/list, all the narray must be of same length. 
If index is passed then the length index should be equal to the length of arrays. 
If no index is passed, then by default, index will be range(n) where n is the array length.

In [3]:
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.
  
import pandas as pd
  
# initialize data of lists.
df1 = {'customer_id': [1,2,3,4,5,6,7,8,9,10],
        'Product': ['Oven','Television','AC','Washing Machine','AC','Oven',
                    'Television','Washing Machine','Television','Washing Machine']}
  
# Create DataFrame
df1 = pd.DataFrame(df1)
  
# Print the output.
df1

   customer_id          Product
0            1             Oven
1            2       Television
2            3               AC
3            4  Washing Machine
4            5               AC
5            6             Oven
6            7       Television
7            8  Washing Machine
8            9       Television
9           10  Washing Machine

In [1]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 2A45-41DC

 Directory of C:\Users\Sai\Desktop\New folder\IBM Exam\DataVisualizations

2022-09-19  20:02    <DIR>          .
2022-09-17  20:29    <DIR>          ..
2022-09-19  19:23    <DIR>          .ipynb_checkpoints
2022-09-08  13:15           108,604 1_DataVisualizations.docx
2022-09-19  19:48           233,658 10_1 Matplotlib.ipynb
2022-09-19  19:21         1,037,547 10_Matplotlib.docx
2022-09-19  20:02            60,303 11_BasicPlotsMatplotlib(AreaBarHistogram).ipynb
2022-09-08  15:05           428,703 2_InferentialStats.docx
2022-09-08  16:42         4,081,073 3_InstallationOfR.docx
2022-09-08  16:54           769,422 4_DescriptiveDAusingR.docx
2022-09-09  19:26         2,334,409 5_DataManipulationWithR.docx
2022-09-10  21:18           583,007 6_WorikingWithRgraphics(ScatterPlot, BarPlot, Histogram).docx
2022-09-10  22:08         1,704,153 7_DVonWatsonStudio.docx
2022-09-16  12:05         2,724,652 8_AnacondaJupyterNBpythonCodes.docx
2022-09-16  23:46             9,374 9.1 NUMPY.ipynb
2022-09-17  08:17            47,899 9.2 PANDAS.ipynb
2022-09-16  23:57         1,993,813 9_Numpy&Pandas.docx
2022-09-18  20:51           390,524 Canada_Matplotlib.xlsx
2022-09-19  16:53            44,384 CanadianImmigrants.xlsx
2022-09-17  08:17            71,002 Chapter 8 Introduction to Python.ipynb
2022-09-09  19:29    <DIR>          R_Coding
              17 File(s)     16,622,527 bytes
               4 Dir(s)  57,066,070,016 bytes free

In [4]:
# initialize data of lists.
df2 = {'customer_id': [1,2,4,7,10],
        'state': ['Texas','California','Florida','California','Florida']}
  
# Create DataFrame
df2 = pd.DataFrame(df2)
  
# Print the output.
df2

   customer_id       state
0            1       Texas
1            2  California
2            4     Florida
3            7  California
4           10     Florida

### 1) Natural join

Natural join keeps only rows that match from the data frames(df1 and df2), specify the argument how=’inner’

Syntax:

pd.merge(df1, df2, on=column', how='inner')
Return only the rows in which the left table have matching keys in the right table

In [5]:
pd.merge(df1, df2, on = 'customer_id', how = 'inner')

   customer_id          Product       state
0            1             Oven       Texas
1            2       Television  California
2            4  Washing Machine     Florida
3            7       Television  California
4           10  Washing Machine     Florida

### 2) Full outer join

Full outer join keeps all rows from both data frames, specify how=‘outer’.

Syntax:

pd.merge(df1, df2, on=column', how=’outer’)
Returns all rows from both tables, join records from the left which have matching keys in the right table.

In [7]:
pd.merge(df1, df2, on = 'customer_id', how = 'outer')

   customer_id          Product       state
0            1             Oven       Texas
1            2       Television  California
2            3               AC         NaN
3            4  Washing Machine     Florida
4            5               AC         NaN
5            6             Oven         NaN
6            7       Television  California
7            8  Washing Machine         NaN
8            9       Television         NaN
9           10  Washing Machine     Florida

### 3) Left outer join

Left outer join includes all the rows of your data frame df1 and only those from df2 that match, specify how =‘Left.

Syntax:

pd.merge(df1, df2, on=column', how=left)
Return all rows from the left table, and any rows with matching keys from the right table.

In [9]:
pd.merge(df1, df2, on = 'customer_id', how = 'left')

   customer_id          Product       state
0            1             Oven       Texas
1            2       Television  California
2            3               AC         NaN
3            4  Washing Machine     Florida
4            5               AC         NaN
5            6             Oven         NaN
6            7       Television  California
7            8  Washing Machine         NaN
8            9       Television         NaN
9           10  Washing Machine     Florida

### 4) Right outer join

Return all rows from the df2 table, and any rows with matching keys from the df1 table, specify how =‘Right’.

Syntax:

pd.merge(df1, df2, on=column', how=right)
Return all rows from the right table, and any rows with matching keys from the left table.

In [10]:
pd.merge(df1, df2, on = 'customer_id', how = 'right')

   customer_id          Product       state
0            1             Oven       Texas
1            2       Television  California
2            4  Washing Machine     Florida
3            7       Television  California
4           10  Washing Machine     Florida

# DELIVERABLES !
### through this SECTION for PANDAS!

**Pandas read and write csv**

In [ ]:
#How to read the csv file using pandas?
df = pd.read_csv(r"C:\Users\.......")
## need to give the path of the csv file as argument to the read_csv function, to read the path string correctly we need to use ‘r’ as a prefix to the command.

In [ ]:
##How to Write the csv file using pandas?
df.to_csv(‘EXPORT FILE PATH’, index=False) #specifying index = False parameter in to_csv(...) function -> It doesn’t write indexes, because DataFrame will generate it anyway.

**Descriptive statistics using “PANDAS”**

In [ ]:
These are the three steps we should perform to do statistical analysis on pandas dataframe.
•	collect the data
•	create the data frame
•	get the descriptive statistics for pandas dataframe

In [ ]:
df.describe()

In [ ]:
# You Can Further Drill the Stats for each Columns Specific!
df['Sell'].min()

**Pandas working with text data and datetime columns**

In [ ]:
## the data type of the ‘DateTime’ column is object i.e. string. Now we will convert it to datetime format using pd.to_datetime() function.
df['DateTime'] = pd.to_datetime(df['DateTime'])
## After applying the pd.to_datetime () function to DateTime column, we can see in the output, the format of the ‘DateTime’ column has been changed to the datetime format.

In [ ]:
#We can change the index with set_index() function.it takes two parameters one is column name you want to change as index, and another one is inplace=true. 
df.set_index('DateTime', inplace=True)
## Now the DateTime is the index of the dataframe. Now we can perform DateTime operations very easily.

In [ ]:
# Data Frame Filtering based on index
## How to filter data based on particular year?
df['2010']

## How to filter data based on year and month?
df['2018-06']

## Similarly, if you want to view the observations after particular year, month and date. then the command is
df[datetime(year, month, date): ]

In [ ]:
## If you need observations between two dates then command is?

##SYNTAX: 
##df['StartingYear, StartingMonth, StartingDate' : 'EndingYear, EndingMonth, Endingdate']

##Command:
df['5/3/2018' : '5/4/2018']

In [ ]:
## Que) What is the syntax to change the index of the dataframe with out returning the copy of the object
## df.setindex(‘column name’, inplace=True)

**Pandas Indexing and Selecting Data**

In [ ]:
## Once the data is loaded into data frame let’s make Name Column as the index of this data frame.
df.set_index("Name", inplace=True)

In [ ]:
# Once the data is loaded into data frame let’s Revert df as the index of this data frame.  
## We use “.reset_index(inplace=True)

df.reset_index(inplace=True)  #To revert back the Index column!

In [ ]:
#Selecting Single Column
## In order to take single column, we simply put the name of the column in-between the brackets.
Email = df['email']

In [ ]:
# Selecting Multiple Columns
## To select multiple columns, we must pass a list of columns in an indexing operator.

emailANDteam = df[["email", "team"]]

In [ ]:
# Selecting a single row:
## In order to select a single row using. loc[], we put a single row label in a .loc function.
LucyData = df.loc['Lucy']


# Selecting multiple rows:
## In order to select multiple rows, we put all the row labels in a list and pass that to .loc function.
jesseANDeric = df.loc[['Jesse', 'Eric']]


# Selecting multiple rows and columns:
## In order to select two rows and two columns, we select two rows which we want to select and two columns and put it in a separate list:
## SYNTAX: Dataframe.loc[["row1", "row2"], ["column1", "column2"]]
selectedDF = df.loc[['Judith', 'Arlene'], ['email', 'team']]


# In order to select all the rows and some columns the syntax looks like:
## SYNTAX: Dataframe.loc [ :, ["column1", "column2"]]
selectedDF = df.loc[ : ,['email', 'team']]

**Pandas- GROUPBY**

In [ ]:
# groupby function based on single category
## Now we have data frame ready let’s group the data based on ‘hlpi_name’.
groups = df.groupby('hlpi_name')

## To know all the Unique values(GROUPS) in above hlpi_name colums use: drop.duplicates()
df['hpli_name'].drop.duplicates()

## We use the function get_group() to find the entries contained in any of the groups.
groups.get_group('Income quintile 1 (low)')

In [ ]:
# groupby function based on more than one category
## Use groupby() function to form groups based on more than one category (i.e. Use more than one column to perform the splitting).
group_2 = df.groupby(['hlpi_name', 'year'])


## Let’s print the first entries in all the groups formed using first() function.
group_2 = df.groupby(['hlpi_name', 'year'])
group_2.first()

In [ ]:
# Operations on groups
## After splitting a data into a group, we can also apply a function to each group to perform some operations

# sum() function
## WE get the Result for Numerical Columns!
Group = df.groupby(['hlpi_name'])
Group.sum()

# We can also find min, max, average . .etc.

**Merge/Join Datasets**

In [ ]:
# Before you perform joint operations let’s first load the two csv files and convert them into data frames df1 and df2.

In [ ]:
# NATURAL JOIN
## Natural join keeps only rows that match from the data frames (df1 and df2), specify the argument how=’inner’

pd.merge(df1, df2, on = 'customer_id', how = 'inner')
## Return only the rows in which the left table have matching keys in the right table

In [ ]:
# FULL OUTER JOIN
## Full outer join keeps all rows from both data frames, specify how=‘outer’.

pd.merge(df1, df2, on = 'customer_id', how = 'outer')
## The join which keeps all the rows that match from both the dataframes

In [ ]:
# LEFT OUTER JOIN
## Left outer join includes all the rows of your data frame df1 and only those from df2 that match, specify how =‘Left.

pd.merge(df1, df2, on = 'customer_id', how = 'left')

In [ ]:
# RIGHT OUTER Join
## Return all rows from the df2 table, and any rows with matching keys from the df1 table, specify how =‘Right’.

pd.merge(df1, df2, on = 'customer_id', how = 'right')

# QNA

https://quizizz.com/admin/quiz/5e952fd57487f7001bcbe21f/pandas-python-quiz

**Q. Which of the following can be used to make a Dataframe?**

Series

DataFrame

Structured ndarray

**All of the above**

**Q.What can help to form dictionary constructor’s form?**

DataFrame.from_dict

DataFrame.from_items

**DataFrame.from_records**

All of the mentioned

**Q.Identify the correct statement:**

Moving window statistics is present in pandas.

Pandas have a set of array data structures which are labelled.

Pandas consists of an integrated group by engine for transforming and aggregating data sets.

**All of the above**

**Q.If the data is in the form of an ndarray, the index and the data must be of the same length.**

**True**

False

**Q.Data structures in Pandas can be mutated in the terms of ____ but not of _____.**

size, value

**value, size**

semantic, size

none of the above

**Q.Among the following options, which operation works with a syntax same as that of the analogous dictionary operations?**

Deleting columns

Setting columns

Getting columns

**All of the above**

**Q.Point out the statement which is incorrect:**

**Panel is generally a 2D array which is labelled and also size-mutable.**

Series is a 1D array which is labelled and homogeneously typed.

DataFrame is generally a 2D structure which is labelled, tabular and size-mutable with columns that can potentially be heterogeneously typed.

None of the mentioned.

**Q.Are DataFrames container for Series.**

**True**

False

**Q. The power of Pandas is brought to the physical sciences by x-ray.**

**True**

False

**Q. Which among the following statements are true with respect to the Series and DataFrames in Pandas?**

**The 2 key structures in Pandas are Series and DataFrames.**

For Pandas, the core data model is Series, while the secondary model is DataFrame.

The DataFrame is like an Excel workbook.

Accessing individual elements is not allowed in Series through labels.

**Q. This function in the library of Pandas allows you to manipulate data and create new variables:**

answer choices
read_csv function

pivot_table function

**apply function**

merge function

**Q.Which of these is an invalid writer function in Pandas?**

to_clipboard

**to_text**

to_stata

to_msgpack

**Q. Which among the following options can be used to create a DataFrame in Pandas?**

A scalar value

An ndarray

A python dict

**All of the above**

**Q. Identify the correct statement:**
    
The standard marker for missing data in Pandas is NaN

Series act in a way similar to that of an array

**Both of the above**

None of the above

**Q.What happens to the indexes when any operations are done to unaligned series?**

Total

**Union**

Intersection

All of the above

**Q. A series is a one-dimensional array which is labelled and can hold any data type.**

**True**

False

**Q. Point out the incorrect statement:**

Both Series and ndarrays can be passed as arguments to Numpy functions.

The major difference between Series and ndarray is that the data is arranged based on label in Series, when Series is operated on.

**A DataFrame is similar to a fixed-size dict because you can use the index labels to get and set values.**

None of the above.

**Q.Which function needs a dictionary of array like sequences or a dictionary of another dictionary, to return a DataFrame?**

**DataFrame.from_items**

DataFrame.from_records

DataFrame.from_dict

All of the above