# Chapter 8: Introduction to Python

## Python scripting basics

In [189]:
# First Program in Python
# Let’s try your first program in Python.
print("Hello World !")

Hello World !

In [ ]:
A statement or expression is an instruction the computer will run or execute. 
Perhaps the simplest program you can write is a print statement. When you run the print statement, Python will simply display the value in the parentheses. 
The value in the parentheses is called the argument.

## Data Types
A type is how Python represents different types of data. You can have different types in Python. They can be integers like 11, real numbers like 21.213. They can even be words.

In [47]:
type(21.213)

float

In [48]:
float(2)

2.0

In [49]:
int(2.4)

2

In [50]:
int(0.6)

0

In [51]:
type("Hello")

str

The following chart summarizes three data types for the last examples. The first column indicates the expression. The second Column indicates the data type. We can see the actual data type in Python by using the type command. We can have int, which stands for an integer, and float that stands for float, essentially a real number. The type string is a sequence of characters.

Integers can be negative or positive. It should be noted that there is a finite range of integers, but it is quite large. 

Floats are real numbers; they include the integers but also numbers in between the integers
Consider the numbers between 0 and 1. We can select numbers in between them; these numbers are floats. 
Similarly, consider the numbers between 0.5 and 0.6. We can select numbers in-between them; these are floats as well.

You can change the type of the expression in Python; this is called type-casting. You can convert an int to a float. 
For example, you can convert or cast the integer 2 to a float 2.

In [52]:
float(2)

2.0

In [53]:
int(2.3)

2

If you cast a float to an integer, you must be careful. For example, if you cast the float 1.1 to 1, you will lose some information. If a string contains an integer value, you can convert it to int. If we convert a string that contains a non-integer value, we get an error. 

You can convert an int to a string or a float to a string.

Boolean is another important type in Python. A Boolean can take on two values. The first value is true, just remember we use an uppercase T. Boolean values can also be false, with an uppercase F. Using the type command on a Boolean value, we obtain the term bool, this is short for Boolean. 

If we cast a Boolean true to an integer or float, we will get a 1.

If we cast a Boolean false to an integer or float, we get a zero. If you cast a 1 to a Boolean, you get a true. Similarly, if you cast a 0 to a Boolean, you get a false.

In [54]:
int(True)

1

In [55]:
int(False)

0

In [56]:
bool(1)

True

In [57]:
bool(0)

False

In [58]:
bool(-32)

True

# String Operations In Python

In Python, a string is a sequence of characters. A string is contained within two quotes: You could also use single quotes. A string can be spaces, or digits.
A string can also be special characters. 

We can bind or assign a string to another variable. It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers.

In [61]:
Name = "Michael Jackson"
# Positive Indexing starts from(Left to Right ->) 0,1,2,3,4,5
#Negative Indexing starts from(Rtght to Left <-)  -1,-2,-13,-4.....

In [62]:
Name[0]

'M'

In [63]:
Name[6]

'l'

In [64]:
Name[-1] #last element in the String

'n'

In [65]:
Name[-15]  #Reverse which i.e 1st element from

'M'

## Binding the String!

In [66]:
Name

'Michael Jackson'

In [67]:
Name[::2]
#The 2 indicates we select every second variable from 0th position of index!

'McalJcsn'

In [68]:
Name[0:5:2]
# 5 indicates the total size you want to access that string!
## In this case. we return every 2nd value up to index four from 0th index!

'Mca'

In [69]:
# We can use the “Len” command to obtain the length of the string. As there are 15 elements, the result is 15.
len(Name)

15

We can concatenate or combine strings. We use the addition symbols. The result is a new string that is a combination of both

In [70]:
Name = "Bryan Craynston"
Statement = Name + " is a badass protogonist"

In [71]:
Statement

'Bryan Craynston is a badass protogonist'

We can replicate values of a string. We simply multiply the string by the number of times we would like to replicate it, in this case, three. The result is a new string. The new string consists of three copies of the original string.

In [72]:
3 * " Sid Das"

' Sid Das Sid Das Sid Das'

This means you cannot change the value of the string, but you can create a new string.

Python COLLECTION (or)Arrays 

There are four collection data types in the Python programming language:
    
•Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

•List is a collection which is ordered and changeable. Allows duplicate members.

•Set is a collection which is unordered and unindexed. No duplicate members.

•Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

## TUPLES

Tuple:
tuples are expressed as comma-separated elements within parentheses

In [73]:
Example_Tuple_2 = ("python", 32, 78, 23)

In [74]:
type(Example_Tuple_2)

tuple

In [193]:
##What is the syntax to obtain the first element of the tuple:
A=('a','b','c')
A[0]

'a'

In [78]:
Example_Tuple = (2,4,6,2,24,2345)

In [79]:
# Example_Tuple[0]  #..... Example_Tuple[5]..  till 5 we have this tuple!
#or
Example_Tuple[-6]  #it will return 1st element at it exceeds the last position with only 1 difference

2

In [80]:
Example_Tuple[-7]  #Reverse index starts from -1, -2, -3 ....
#and there is no -7th index position

IndexError: tuple index out of range

In [83]:
Example_Tuple

(2, 4, 6, 2, 24, 2345)

In [84]:
# Example_Tuple[1]
#Or
Example_Tuple[-5]    # reverse index starts from

4

In Python, there are different types: strings, integer, float. They can all be contained in a tuple, but the type of the variable is tuple

In [85]:
Example_Tuple[2:5]

(6, 2, 24)

In [86]:
Example_Tuple[2:-1]

(6, 2, 24)

Each element of a tuple can be accessed via an index. The element in the tuple can be accessed by the name of the tuple followed by a square bracket with the index number. Use the square brackets for slicing along with the index or indices to obtain value available at that index.

Tuples are immutable, which means we can't change them.

In [87]:
Ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)

In [88]:
Ratings1 = Ratings

In [89]:
print(Ratings1)

(10, 9, 6, 5, 10, 8, 9, 6, 2)

To see why this is important, let's see what happens when we set the variable Ratings 1 to Ratings. Each variable does not contain a tuple, but references the same immutable tuple object.

--------------------------------
Let's say we want to change the element at index 2. Because tuples are immutable, we can't. Therefore, Ratings 1 will not be affected by a change in Rating because the tuple is immutable i.e., we can't change it.

In [91]:
Ratings1 = (10, 2, 6, 5, 10, 8, 9, 6, 2)

In [92]:
Ratings

(10, 9, 6, 5, 10, 8, 9, 6, 2)

There are many built-in functions that take tuple as a parameter and perform some task. for example, we can find length of the tuple with len() function, minimum value with min() function... etc.

if we would like to sort a tuple, we use the function sorted. The input is the original tuple. The output is a new sorted tuple.

A tuple can contain other tuples as well as other complex data types; this is called nesting.

### NESTED Tuple

For Example: NestedTuple = (5,2, ("A","B"),(1,2),(8896,("x","y","z")))
    
We can access these elements using the standard indexing methods.

In [93]:
NestedTuple = (5,2, ("A","B"),(1,2),(8896,("x","y","z")))

In [94]:
NestedTuple[0]

5

In [95]:
NestedTuple[2]

('A', 'B')

In [96]:
NestedTuple[4]

(8896, ('x', 'y', 'z'))

In [97]:
NestedTuple[4][1]  
#Entire 4th is (8896,("x","y","z")) and inside 1 is ("x","y","z"

('x', 'y', 'z')

The tuple has the following indexes. If we consider indexes with other tuples, we see the tuple at index 2 contains a tuple with two elements. We can access those two indexes. The same convention applies to index 3. We can access the elements in those tuples as well. We can continue the process. We can even access deeper levels of the tree by adding another square bracket like NestedTuple [4][1].

### BODMAS 
It is an acronym and it stands for Bracket, Order, Division, Multiplication, Addition, and Subtraction.

B – Brackets, O – Order of powers or roots, D – Division, M – Multiplication A – Addition, and S – Subtraction.

How do you do Bodmas step by step?

The BODMAS rule states we should calculate the Brackets first (2 + 4 = 6), then the Orders (52 = 25), then any Division or Multiplication (3 x 6 (the answer to the brackets) = 18), and finally any Addition or Subtraction (18 + 25 = 43).

# LIST

A list is a collection which is ordered and changeable. A list is represented with square brackets

In many respects’ lists are like tuples, one key difference is they are mutable. Lists can contain strings, floats, integers 
We can nest other lists.

In [100]:
List = [21, 3, "PYTHON", 67.2, 2.11]

In [101]:
print(List)

[21, 3, 'PYTHON', 67.2, 2.11]

We can also nest tuples and other data structures; the same indexing conventions apply for nesting Like tuples, each element of a list can be accessed via an index.

In [104]:
List1 = [21, 3, "PYTHON", 67.2, 2.11, (121, 32), ["sublist1", 8896]]

In [105]:
print(List1)

[21, 3, 'PYTHON', 67.2, 2.11, (121, 32), ['sublist1', 8896]]

In [106]:
List1[5]

(121, 32)

In [107]:
List1[6][0]

'sublist1'

The following table represents the relationship between the index and the elements in the list.

The following table represents the relationship between the index and the elements in the list. The first element can be accessed by the name of the list followed by a square bracket with the index number, in this case zero. We can access the second element as follows.

-------------------
In Python, we can use a negative index. eg: List[-1], List[-2]....List[-7]

The index conventions for lists and tuples are identical for accessing and slicing the elements.

We can concatenate or combine lists by adding them. Lists are mutable; therefore, we can change them. For example, we apply the method Extends by adding a "dot" followed by the name of the method, then parenthesis.

In [108]:
List1 = [1,2,3,4]
List2 = [5,6,7,8]
SumList = List1 + List2
print(SumList)

[1, 2, 3, 4, 5, 6, 7, 8]

In [111]:
# EXTEND function
ListE = [1,2,3,4]
ListE.extend([8,9,10,11])
print(ListE)

# The argument inside the parenthesis is a new list 
# that we are going to concatenate to the original list.

[1, 2, 3, 4, 8, 9, 10, 11]

In this case, instead of creating a new list, the original list List1 is modified by adding four new elements.

##### APPEND Function! (another simple method other than EXTEND!)
Another similar method is append. If we apply append instead of extended, we add one element to the list. If we look at the index, there is only one more element. Index 4 contains the list we appended.
Every time we apply a method, the lists changes.

In [112]:
ListA = [1,2,3,4]
ListA.append([8,9,10,11])
print(ListA)

[1, 2, 3, 4, [8, 9, 10, 11]]

In [113]:
### LISTs are Mutable
ListM=[1,2,3,4]
ListM[1] = "MUTATED"
print(ListM)

[1, 'MUTATED', 3, 4]

As lists are mutable, we can change them. For example, we can change the Second element as follows. The list now becomes [ 1,” CHANGED”,3,4]

We can delete an element of a list using the "del" command; we simply indicate the list item we would like to remove as an argument.

In [114]:
ListM

[1, 'MUTATED', 3, 4]

In [115]:
# DEL Command
# For example, if we would like to remove the Second element, then perform del List [1] command This operation 
#..removes the second element of the list then the result becomes [1,3,4]
del ListM[1]
print(ListM)

[1, 3, 4]

We can delete an element of a list using the "del" command; we simply indicate the list item we would like to remove as an argument.

For example, if we would like to remove the Second element, then perform del List [1] command This operation removes the second element of the list then the result becomes [1,3,4]

# --------------------------
Que) After applying the following method,L.append(['a','b']), the following list will only be one element longer

In [197]:
L = ["C","D"]
L

['C', 'D']

In [198]:
L.append(['a','b'])
L

['C', 'D', ['a', 'b']]

In [ ]:
### LISTs Aliasing

When we set one variable, B equal to A, both A and B are referencing the same list. Multiple names referring to the same object is known as aliasing.

If we change the first element in “A” to “banana” we get a side effect; the value of B will change as a consequence. “A" and “B” are referencing the same list, therefore if we change "A“, list "B" also changes. If we check the first element of B after changing list ”A” we get banana instead of hard rock

In [123]:
A = ["hard rock", 10, 1.2]
B = A
print("A is: ", A)
print("B is: ", B)

A is:  ['hard rock', 10, 1.2]
B is:  ['hard rock', 10, 1.2]

In [126]:
A[0] = 'orange'
print(A)

['orange', 10, 1.2]

In [127]:
B  #B also changed!

['orange', 10, 1.2]

In [128]:
B[0] = "hard rock"
print(B)

['hard rock', 10, 1.2]

In [129]:
A  #A also changed!

['hard rock', 10, 1.2]

You can clone list “A” by using the following syntax. Variable "A" references one list. Variable “B” references a new copy or clone of the original list.

In [131]:
A = [1,2,3]
B = A[:]
print("A is: ", A)
print("B is: ", B)

A is:  [1, 2, 3]
B is:  [1, 2, 3]

Now if you change “A”, "B" will not change We can get more info on lists, tuples and many other objects in Python using the help command.

In [132]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [137]:
# Example
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

## Set:

Sets are a type of collection. Unlike lists and tuples, they are unordered. You cannot access items in a set by referring to an index, since sets are unordered the items has no index. To define a set, you use curly brackets You place the elements of a set within the curly brackets.

You notice there are duplicate items. When the actual set is created, duplicate items will not be present.

To add one item to a set, use the add () method.

To add more than one item to a set use the update () method with list of values.

To remove an item from the set we can use the pop () method. Remember sets are unordered so it will remove the first item in the set.

To remove an item from the set, use the remove method, we simply indicate the set item we would like to remove as an argument.

In [145]:
# No Duplicates can be Extracted from set
set = {1, 2, 3, 1, 2, 3, 1, 2, 3}
print(set)

{1, 2, 3}

In [146]:
# Add function 
set.add(4)
print(set)

{1, 2, 3, 4}

In [147]:
# Update function
set.update([4,5,6,7])
print(set)

{1, 2, 3, 4, 5, 6, 7}

In [148]:
# POP function
set.pop()  #one by one it will try to remove(The no. of times you execute pop it will remove the elements inside it in sequence)

1

In [149]:
print(set)

{2, 3, 4, 5, 6, 7}

In [150]:
# Remove function
set.remove(5)
print(set)

{2, 3, 4, 6, 7}

There are lots of useful mathematical operations we can do between sets. like union, intersection, difference, symmetric difference from two sets.

## Dictionaries

Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

---------------------
Dictionaries are optimized to retrieve values when the key is known. Creating a dictionary is as simple as placing items inside curly braces {} separated by comma

An item has a key and the corresponding value expressed as a pair, key: value. 
    
While values can be of any data type and can repeat, keys must be of immutable type (string, number or tuple with immutable elements) and must be unique.

In [151]:
my_dict = {"Name":'Sid',"Age":24}

In [152]:
my_dict

{'Name': 'Sid', 'Age': 24}

In [154]:
print(my_dict['Name'])

Sid

We can access the elements from the dictionary using keys.

In [155]:
my_dict = {"Name":'Sid',"Age":24}

In [157]:
print(my_dict.get('Age'))  #NOTE: the kwy names are case-sensitive

24

We can get the value using keys either inside square brackets or with get( ) method.

-----------------------
Dictionary is mutable. We can add new items or change the value of existing items using assignment operator. If the key is already present, value gets updated, else a new key: value pair is added to the dictionary.

In [159]:
my_dict = {"Name":'Sid',"Age":24}
print(my_dict)

{'Name': 'Sid', 'Age': 24}

In [161]:
#Update Value when using existing key!
my_dict['Name'] = 'Das'
my_dict

{'Name': 'Das', 'Age': 24}

In [162]:
# Adds new key:value when new key is used
my_dict['address'] = 'High Hill Town'
my_dict

{'Name': 'Das', 'Age': 24, 'address': 'High Hill Town'}

-------------
We can delete an entry as follows. This gets rid of the key "address" and its value from my_dict dictionary

In [163]:
my_dict = {"Name":'Sid', "Age":24, 'address': 'High Hill Town'}
my_dict

{'Name': 'Sid', 'Age': 24, 'address': 'High Hill Town'}

In [164]:
# del 
del(my_dict['address'])
print(my_dict)

{'Name': 'Sid', 'Age': 24}

----------------------
We can verify if an element is in the dictionary using the IN command as follows.
Syntax: ‘KEY_NAME’ in DictionaryName
The command checks the keys. If they are in the dictionary, they return a true. If we try the same command with a key that is not in the dictionary, we get a false. If we try with another key that is not in the dictionary, we get a false.

In [165]:
my_dict = {"Name":'Sid', "Age":24, 'address': 'High Hill Town'}
my_dict

{'Name': 'Sid', 'Age': 24, 'address': 'High Hill Town'}

In [167]:
'Age' in my_dict

True

In [168]:
'DOB' in my_dict

False

------------------------
In order to see all the keys in a dictionary, we can use the method keys to get the keys. The output is a list like object with all keys. In the same way, we can obtain the values.

In [172]:
my_dict

{'Name': 'Sid', 'Age': 24, 'address': 'High Hill Town'}

In [173]:
my_dict.keys()

dict_keys(['Name', 'Age', 'address'])

In [174]:
my_dict.values()

dict_values(['Sid', 24, 'High Hill Town'])

Que) Consider the following Python Dictionary:Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6} what is the result of the following operation: Dict["D"]

In [194]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

In [195]:
Dict["D"]

(4, 4, 4)

## Conditional Statements

In programming languages, most of the time we have to control the flow of execution of your program, you want to execute some set of statements only if the given condition is satisfied, and a different set of statements when it’s not satisfied. 
Which we also call it as control statements or decision-making statements.

Conditional statements are also known as decision-making statements. We use these statements when we want to execute a block of code when the given condition is true or false.

Usually Condition will be in a form of Expression with some relational operators. Refer some below operators mentioned in the chart

Equal to   (==)

Greater than  (>)

Less than     (<)

,>=

<=

!=

Negation  (not)

# ----------------------

In Python we achieve the decision-making statements by using below statements -

•	If statements

•	If-else statements

•	Elif statements

•	Nested if and if-else statements

### 1) If statements -

If statement is one of the most commonly used conditional statement in most of the programming languages. It decides whether certain statements need to be executed or not.

If statement checks for a given condition, if the condition is true, then the set of code present inside the if block will be executed.

The If condition evaluates a Boolean expression and executes the block of code only when the Boolean expression becomes TRUE. Check the Syntax first the controller will come to an if condition and evaluate the condition if it is true, then the statements will be executed, otherwise the code present outside the block will be executed.

In [176]:
## Syntax for IF Statements:
if(condition):
    #Block of the Code to be executed IF condition is TRUE
remaining Code

### -------------------------

Let’s take an example to implement the if statement, in this example we have a variable name which stores the string “Sid” and we also have names list with some names

In [180]:
name = 'Sid'
names = ['Sid', 'Nani', 'Rio'] #Strings inside the list are caseSensitive for further Use!
if(name in names):
    print('Your Name is Present!')
print('This Statement is always be executed!')

Your Name is Present!
This Statement is always be executed!

We can use if statement to check whether the name is present in the names list or not, if condition is true then it will also print block of statements inside the ‘if’ block. If condition is false, then it will skip the execution of the ‘if’ block statements.

### 2) IF-ELSE statements:

The statement itself tells that if a given condition is true then execute the statements present inside if block and if the condition is false then execute the else block.

Else block will execute only when the condition becomes false, this is the block where you will perform some actions when the condition is not true.

If-else statement evaluates the Boolean expression and executes the block of code present inside the if block if the condition becomes TRUE and executes a block of code present in the else block if the condition becomes FALSE.

In [ ]:
# SYNTAX for IF-ELSE statement!
if (Condition):
    #Block of the Code to be executed IF condition is TRUE
else:
    #Block of the Code to be executed IF condition is FALSE'
remaining Code

## ---------------------

Let’s take an example to implement the if-else statement, in this example the if block will get executed if the given condition is true or else it will execute the else block.

In [181]:
x = 4
if (x > 5):
    print("The number is Greater than 4")
else:
    print("The number is Lesser than 4")

The number is Lesser than 4

### 3) ELIF statements:

In python, we have one more conditional statement called elif statements. Elif statement is used to check multiple conditions only if the given if condition false. It's like an if-else statement 

and the only difference is that in else we will not check the condition but in elif we will do check the condition.

In [ ]:
if (Condition):
    #Set of statement to execute when IF condition is TRUE
elif:
    #Set of statement to be executed when IF condition is FALSE and ELIF condition is TRUE
else:
    #Set of statement to be executed when both IF and ELIF conditions are FALSE!

# -------------------------
Elif statements are similar to if-else statements but elif statements evaluate multiple conditions.

In [183]:
x = 5
if (x == 0):
    print("Number is 0")
elif (x > 5):
    print("Number is Greater than 5")
else:
    print("Number less than 5")

Number less than 5

Let’s take an example to implement the elif statement, in this example the if block will get executed if the given if-condition is true, or elif block will get executed if the elif-condition is true, or it will execute the else block if both if and elif conditions are false.

### 4) NESTED IF-ELSE Statements:

Nested if-else statements mean that an if statement or if-else statement is present inside another if or if-else block. 

Python provides this feature as well, this in turn will help us to check multiple conditions in a given program.

An if statement present inside another if statement which is present inside another if statements and so on.

In [ ]:
## Syntax for NESTED-IF-ELSE
if(Condition):
    #Statements to execute if condition is TRUE
    if(Condition):
        #Statements to execute if condition is TRUE        
    else:
        #Statements to execute if condition is FALSE
else:
    #Statements to execute if condition is FALSE

In [188]:
# Example for Nested IF-Else
num = 5

if(num != 0):
    print("Number Not Equal to 0")
    
    if(num>0):
        print("Number is Positive")
    else:
        print("Number is Negative")
else:
    print("Number Equal to 0")

Number Not Equal to 0
Number is Positive

## [Start: Till: Step]

In [190]:
var = '01234567'

In [191]:
print(var[::2])

0246

In [192]:
"1"+"2"

'12'

In [199]:
print(var[:6:2]) #it will not include 6

024

In [200]:
print(var[:7:2]) #it will now include 6

0246